<div class="item-card">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td class="score-badge score-{{ si.relevance_score }}" width="36" valign="top">{{ si.relevance_score }}</td>
      <td class="item-meta">
        <div class="item-title">
          <a href="{{ si.item.url }}">{{ si.item.title }}</a>
        </div>
        <div class="item-attrs">
          <span class="item-source">{{ si.item.source }}</span>
          {{ si.item.date }}
          {% if si.item.extra.get('house') %} &bull; {{ si.item.extra.house }}{% endif %}
          {% if si.item.extra.get('answering_body') %} &bull; {{ si.item.extra.answering_body }}{% endif %}
          {% if si.item.extra.get('org_str') %} &bull; {{ si.item.extra.org_str }}{% endif %}
          &bull; <span class="item-urgency-{{ si.urgency }}">{{ si.urgency | upper }}</span>
        </div>
      </td>
    </tr>
  </table>
  <div class="item-body">{{ si.summary }}</div>
  {% if si.topic_tags %}
  <div class="item-tags">
    {% for tag in si.topic_tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}
  {% if si.action_needed %}
  <div class="action-box">
    <strong>Action suggested:</strong>{{ si.action_needed }}
  </div>
  {% endif %}
</div>
